@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #1E293B;

  /* Brand Colors */
  --brand: #0D438B;
  --accent: #5CA3FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand: var(--brand);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* I'd actually remove dark mode for now.
   We can add it later once the site is finished. */

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}